@use "./utils/utils.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

* {
  font-family: 'Inter', sans-serif;
}

code {
  font-family: 'M PLUS 1 Code', sans-serif;
  background-color: #ddd;
  padding: 3px 6px;
}

button, #submitbutton {
	color: white;
    background-color: #8BACB1;
    border: 0;
    font-size: 1.25rem;
    padding: 1rem 1.25rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        background-color: lighten($accent, 10%);
    }
    &:active {
        transform: scale(0.95);
    }
}

.secondary-button {
  color: $accent;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $accent;
  &:hover {
    background-color: lighten($accent, 30%) !important;
  }
}

/* think this is useless*/
Link {
  color: $accent;
}