$accent: #6C969D;

#nav {
    font-size: 1.25rem;
    background-color: #eee;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
    box-shadow: 1px 1px 10px 3px #ddd;
    
    a {
        text-decoration: none;
        padding: 1.25rem;
        color: black;
        transition: 0.3s;

        &:hover {
            color: white;
            background-color: lighten($accent, 10%);
        }
    }
}