input{
    height: 1rem;
    justify-content: right;
}

#searchBtn {
    height: 100%;
}

#posts {
    border-color: #8BACB1;
    border: 3px;
    height: 6rem;
    width: 3rem;
    h1 {
        font-size: 30px;
    }
}